[2016-07-28 08:15] hferentschik commented on #450
Has anyone tried to boil this down to a verified set of required packages? There seems to be some inconsistencies in the descriptions above. This is what worked on Fedora 23 to install service-manager

[code]

[2016-07-28 08:50] hferentschik commented on #450
So this works:

[code]

Seems _rpm_build_ is really needed (not just one of the dependencies it also pulls in). No idea really what _rpm_build_ does and why it would not be part of 'Development Tools'. Another Fedora packaging mystery.

[2016-07-28 09:29] bexelbie opened #485 "Documentation needs to be able to easily versioned and published"
There didn't seem to be an issue in this repository to capture this.

We need to be able to version and publish documentation for ADB++.

I will flesh this out more with details so that we can review them as a group and ensure that the plan will meet our needs.  (To set expectations, details may not appear until after 5 August when Flock is over.)

This is going to require some coordination with t

[2016-07-28 09:51] hferentschik commented on #485
+1

[2016-07-31 04:33] jberkus opened #486 "Spurious GPG warnings when installing packages in ADB VMs"
here's some of the messages I get from "yum install atomicapp":

Retrieving key from file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7
Importing GPG key 0xF4A80EB5:
 Userid     : "CentOS-7 Key (CentOS 7 Official Signing Key) <security@centos.org>"
 Fingerprint: 6341 ab27 53d7 8a78 a7c2 7bb1 24c6 a8a7 f4a8 0eb5
 Package    : centos-release-7-2.1511.el7.centos.2.10.x86_64 (@anaconda)
 From       : /etc/p

[2016-07-31 08:25] bexelbie commented on #486
These messages don't look spurious.
1. Is the pain lessened by using 'yum -y' - I suspect it will not be fully resolved.
2. I believe you'll see none of these messages in second and subsequent runs.
3. How are you planning to use atomic app once you have it? If you're ssh'ed in, I think these messages are reasonable. If you're not we should make this part of vsm.

[2016-08-01 06:29] LalatenduMohanty commented on #486
@jberkus  @bexelbie
Need to investigate  the reason of the message. centos-release is already installed in the image. My guess is that the messages are part of Yum GPG certificate import process. But I think we need to reduce the message if possible.

[2016-08-01 07:13] praveenkumar commented on #250
We are tracking this from VSM side: https://github.com/projectatomic/vagrant-service-manager/issues/350

[2016-08-01 07:13] #250 closed

[2016-08-01 07:36] jberkus commented on #486
I'm ssh'd in.  However, I think that developers may be alarmed at some of those messages.  I know they caught me by surprise.

[2016-08-01 08:32] #379 closed

[2016-08-02 11:20] thatdocslady commented on #450
@hferentschik @surajssd can you please review PR #483 and see if it covers the required steps?

Also, I understand that we now require vagrant-sshfs, can you please verify that the dependencies are also required for that component, and also write the steps required to install sshfs so that I can add it as an install step? Thanks!

[2016-08-02 11:34] #478 closed

[2016-08-03 07:30] LalatenduMohanty opened #488 "Need to integrate vagrant-registration proxy variables with OpenShift proxy variables"
The current proxy variables in Red Hat/OpenShift Vagrantfile looks as below

https://github.com/projectatomic/adb-atomic-developer-bundle/blob/master/components/rhel/rhel-ose/Vagrantfile#L15
[code]
And vagrant-registration needs the information as below

[code]

IMO we should unify both proxy entries in to one set of entries

[2016-08-03 12:49] budhrg opened #489 "Update usage doc to Document OpenShift configurations as only works if we mention all three options"
Hi,

Due to this [issue](https://github.com/projectatomic/vagrant-service-manager/issues/366), update existing existence to warn users that it will only work if all three options are provided.

[2016-08-04 05:04] #460 closed

[2016-08-04 05:06] praveenkumar commented on #447
ping @rimolive , Any outcome from your research?

[2016-08-04 12:21] praveenkumar opened #492 "python-netifaces should be part of centos tree or atomic tree"
With enable of proxy support now `adb-utils` package have `python-netifaces` as run time dependency which will break adb box creation if that is not present in respective repo section: https://github.com/projectatomic/adb-atomic-developer-bundle/blob/master/build_tools/build_scripts/do_vagrant_cbs.sh#L17-L19

Package is already available in cbs: https://cbs.centos.org/koji/buildinfo?buildID=961

[2016-08-04 13:06] rimolive commented on #447
@praveenkumar I'll have a test result until the end of the day

[2016-08-05 08:58] LalatenduMohanty commented on #492
Added to below targets.

[code]

[2016-08-05 08:58] #492 closed

[2016-08-05 10:10] rimolive commented on #447
@praveenkumar from my tests with virtualbox the default behavior is already save VM state, so what my PR does is make libvirt behave the same way as virtualbox.

[2016-08-05 11:36] LalatenduMohanty commented on #488
The possible solution I can think of is using ENV['<>']

[code]

[code]

[2016-08-08 08:25] thatdocslady commented on #485
Found issue #178 , could be related?

[2016-08-08 10:57] praveenkumar opened #494 "Landrush prerequisite for libvirt provider"
Currently if a user do `vagrant up` using libvirt provider then it not able to ping because of libvirt also block `53` port so user actually to perform some steps before doing do `vagrant up` in this situation.

@LalatenduMohanty Please add the steps.

[2016-08-08 10:58] #461 closed

[2016-08-08 11:58] LalatenduMohanty commented on #494
[code]

Kill the dnsmasq process running on the host

[code]

Start the dnsmasq and libvirt process.

[code]

Now do the `vagrant up`

[2016-08-08 12:01] LalatenduMohanty commented on #494
We should add a troubleshooting document for  Landrush and add this above information.

[2016-08-08 12:28] bexelbie opened #495 "Rename ADB to PADB (prounounced pad-b)"
This issue and the email that is being sent to container tools about it is the result of four talks and lots of hallway conversations I have had about the ADB.  Many audience members seem to "short circuit" because the name is already in use by the Android Debug Bridge and the Asian Development Bank[0].  This short-circuit prevents meaningful conversations and instead delves into long rabbit holes

[2016-08-10 07:50] LalatenduMohanty commented on #126
This is fixed by https://github.com/projectatomic/adb-atomic-developer-bundle/pull/462

[2016-08-10 07:50] #126 closed

[2016-08-10 07:54] LalatenduMohanty commented on #315
This is fixed by https://github.com/projectatomic/adb-atomic-developer-bundle/pull/482 , but only for OpenShift Vagrantfile. We need to fix Docker, K8s and Mesos similarly

[2016-08-10 07:58] LalatenduMohanty commented on #34
At this point vagrant-vbguest plugin is working fine with ADB and CDK.  Also we are using vagrant-sshfs to mount the home directory. So closing the issue.

[2016-08-10 07:58] #34 closed

[2016-08-10 08:21] LalatenduMohanty opened #497 "ADB 2.3.0 release"
- [x] https://github.com/projectatomic/adb-atomic-developer-bundle/pull/498

Key Features in ADB 2.3.0 release
-------------------------------------------
* Landrush integration.
  * Now if you deploy an application in OpenShift the application endpoints will be simpler and human friendly and without xip.io
* Proxy support
  * ADB OpenShift setup can be used in environment which is behind http pro

[2016-08-10 11:17] ashetty1 commented on #494
Also, disabling NetworkManager

[2016-08-10 11:23] LalatenduMohanty commented on #494
@ashetty1 AFAIR we did not disable the NetworkManager in our setup i.e. in a CentOS7 host. Can you please explain little more about why you had to disable NetworkManager?

[2016-08-10 11:58] praveenkumar commented on #488
Fixed by PR #493

[2016-08-10 11:58] #488 closed

[2016-08-10 16:28] bexelbie commented on #450
Fixed in #483
Closing.

[2016-08-10 16:28] #450 closed

[2016-08-10 18:45] LalatenduMohanty commented on #497
We would do the RC build once adb-utils 2.0  shows up in http://mirror.centos.org/centos/7/atomic/x86_64/adb/

[2016-08-11 07:03] naina-verma opened #500 "Vagrant failed to initialize at a very early stage , due to version upgrade (Documentation note)"
Vagrant failed to initialize at a very early stage , due to version upgrade (Documentation note)
Hi @Preeticp @praveenkumar ,
Logs link : https://gist.github.com/naina-verma/25110683f570ecdf4921ac8010c89c63

This Error occurred when user upgrade from vagrant older version (1.7.4 ) to (1.8.*) . A doc Note would be good which  point  to remove older meta data. By doing following steps:

1. uninstall

[2016-08-11 07:31] naina-verma opened #501 "Disconnection from internet with vagrant up landrush settings"
Hi ,
1. I am using landrush vagrantfile on my windows 10 machine with Hyper-V provider. After vagrant up it gives ` You can now access the OpenShift console on: https://openshift.cdk:8443/console` which works fine. I am able to access openshift through this link.
2. But , when I try to access internet say (google.com,github.com) from my machine it says (unknown hosts). screen shot : https://naina-

[2016-08-11 07:39] praveenkumar commented on #501
@budhrg we need to test it out as soon as we can.

[2016-08-11 07:42] praveenkumar commented on #497
I created new RC build and it is updated to build section so please carry your test.

[2016-08-11 09:06] thatdocslady commented on #500
Hi @naina-verma I'll be documenting this, can you help by providing some distro/env information? We should estimate whether this is a problem that's relevant only for certain distros or global.

Also, would this be a candidate for a code bug fix, or something that we should accept as a permanent limitation?

Thanks!

[2016-08-11 11:30] naina-verma opened #503 "Unable to do 'oc login openshift.cdk ' from vm"
Unable to do oc login openshift.cdk from vm

Steps to reproduce
1. Vagrant up with Unified vagrantfile which has landrush settings in it
2. Do vagrant ssh
3. oc login openshift.cdk:8443  `error: dial tcp: lookup openshoft.cdk: no such host`
4. After adding openshift.cdk into /etc/hosts file it works
openshift.cdk is not accessible from inside of vm
Environment : windows 10 pro , hyperv provider

[2016-08-11 13:16] naina-verma commented on #501
@praveenkumar , i tried  reproducing on other machine . It seems after changing virtual switch it behaves like this. you can move it in monitoring !

[2016-08-11 13:27] praveenkumar commented on #501
@naina-verma if you can put more steps then we can add this in the doc so that user will aware of it.

[2016-08-12 04:56] praveenkumar commented on #447
@rimolive Thanks for testing we will do bit of testing ourself and then add this change.

[2016-08-12 07:04] dharmit commented on #497
@praveenkumar Mesos-Marathon Vagrantfile works well.

[2016-08-12 07:10] praveenkumar commented on #497
@dharmit Thanks.

[2016-08-12 07:33] #503 closed

[2016-08-12 13:40] brgnepal commented on #497
@praveenkumar Tested ADB build with k8s-singlenode, openshift. vsm install-cli features working fine with both.

Able to use kubectl commands like `kubectl get pods`, `kubectl describe pod helloapache` from host after install example app `nodejs-example`.

LGTM for VSM and its install-cli feature

**Note**: Need to patch Vagrantfile for k8s-singlenode-setup to make it work. Patch is [here](https:/

[2016-08-16 08:55] naina-verma opened #509 "Proxy support k8 vagrantfile is missing"
Proxy support  k8 vagrantfile is missing

Either it should be mentioned in document (k8 there is no proxy support ) or put up proxy support in k8 vagrant file .

[2016-08-16 09:01] praveenkumar commented on #509
@naina-verma Can you try https://gist.github.com/praveenkumar/6aad634ba038044865bea9557631d74e and see if that works for you?

[2016-08-16 09:41] naina-verma commented on #509
@praveenkumar , looks good to me !

[2016-08-16 09:46] praveenkumar commented on #509
@budhrg you have any suggestion?

[2016-08-16 09:49] brgnepal commented on #509
LGTM too :+1:

[2016-08-17 08:53] pavanbhat21 opened #510 "Vagrant up on rhel-ose vagrant file fails while starting openshift service"
Vagrant up fails while starting the openshift service on a RHEL machine with the below error:
[code]

We can note that the system has enough resources, 8gigs memory and free meomry can be seen below
[code]
The above issue is noted on CDK 2.2 RC build with below vagrant plugins:
[code]

[2016-08-17 08:56] mmalina opened #511 "Docker daemon returns header text/plain instead of application/json"
Docker connection in Eclipse to stopped working in cdk 2.2 rc1 (it works fine with cdk 2.1). The reason is that the spotify docker client expects a header of application/json in the json response, but the docker daemon now returns text/plain . At least at first sight it looks like a bug.

See the JBIDE issue for more details: https://issues.jboss.org/browse/JBIDE-23009

[2016-08-17 09:13] naina-verma commented on #500
@thatdocslady ,
This problem is on Windows machine , this issue comes into picture when some one upgrade there system form vagrant 1.7.4 version to 1.8.1 or 1.8.\* .
Few of the binaries are not supported for those versions . So few sequential steps are required to achieve a clean up and running  setup;
Those steps are:
1. uninstall vagrant
2. remove this C:/Users/{username}/.vagrant.d/ directory {

[2016-08-17 09:24] pavanbhat21 commented on #510
To add to the above, the openshift service is started a few minutes later and the vm will be up and running.

[2016-08-17 10:42] praveenkumar commented on #511
@budhrg please have a look into this.

[2016-08-18 06:27] naina-verma opened #512 "No success message after vagrant up for rhel-k8s-singlenode-setup"
No success message after vagrant up for rhel-k8s-singlenode-setup

Steps to reproduce
1. go to /cdk/components/rhel/misc/rhel-k8s-singlenode-setup
2. do vagrant up
3. yes to registration or no (same behavior )

_Expected_ :
it is not showing any successful configuration message for k8 single node as it give for rhel-ose

_Actual result_ :
`default: Running provisioner: shell... default: Running: i

[2016-08-18 08:45] brgnepal commented on #512
@naina-verma @praveenkumar
Closing this issue as it is actually VSM issue since we are now migrating from Shell provisioning method to VSM configuration way. Created here https://github.com/projectatomic/vagrant-service-manager/issues/379.

[2016-08-18 08:45] #512 closed

[2016-08-18 09:33] bexelbie opened #513 "landrush plugin prevents Eclipse server adapter from starting"
From: https://issues.jboss.org/browse/JBIDE-23010

The landrush plugin holds stderr and stdout open for the spawned DNS server.  Eclipse uses the closure of those streams to indicate complete book of the ADB.  This is similar to the issue encountered with vagrant-sshfs.

See the JIRA above for discussion on whether this should be fixed at all.

This program can be used to test and verify the issue

[2016-08-18 10:42] bexelbie commented on #513
Note: This is only affecting Mac and Linux

[2016-08-18 12:25] bexelbie commented on #494
+1 for documentation.  @Preeticp and @thatdocslady can you all prepare a patch?

The issue is that libvirt starts dnsmasq before landrush can do so which blocks port 53.  This prevents the dnsmasq entries for landrush from being read.  The fix is to make sure that dnsmasq starts first.

In our install for libvirt, we should have the user start dnsmasq before libvirt

We should also have a note wit

[2016-08-18 12:28] mmalina commented on #494
I would like to add my own experience: I have seen a similar issue with mac and virtualbox - I did vagrant up and then I couldn't ping any of openshift.vm or cdk.vm - unknown host. But strangely, I was able to open the openshift console in my browser: https://openshift.cdk:8443/console
But I cannot reproduce it any longer.

[2016-08-18 12:28] bexelbie commented on #513
PR proposed here: https://github.com/vagrant-landrush/landrush/pull/250

[2016-08-19 05:28] praveenkumar commented on #510
@pavanbhat21 As far I tested, it was working fine and looks like your test env had some issue. Can you confirm once that it is resolved now?

[2016-08-19 05:30] praveenkumar commented on #497
It is released and mail announcement is done - https://www.redhat.com/archives/container-tools/2016-August/msg00025.html

[2016-08-19 05:32] #497 closed

[2016-08-19 05:49] pavanbhat21 commented on #510
@praveenkumar I could not reproduce the issue on a different machine. That said, on the original machine it still fails every time while doing vagrant up, but vagrant reload and vagrant halt/up work absolutely fine.

[2016-08-19 06:06] praveenkumar commented on #510
@pavanbhat21 So as per our discussion and we did testing on 2 different new RHEL setup successfully, I am closing this issue. If you again hit on same issue then please re-open.

[2016-08-19 06:06] #510 closed

[2016-08-19 10:49] thatdocslady commented on #500
@naina-verma @bexelbie can you please review PR #514 :)

[2016-08-19 12:17] praveenkumar commented on #511
@mmalina This is docker issue for sure. I tested with docker-1.9 and everything went well even all the latest plugins and then I updated to docker-1.10.3 and not able to connect to eclipse in CDK. In ADB everything is working as expected even docker version is same.

In ADB

[code]

In CDK

[code]

CC @rhatdan

[2016-08-19 12:21] brgnepal commented on #511
@mmalina To add more here, note that the docker version is same in both ADB and CDK cases, i.e `1.10.3` but the build commit is different .

[2016-08-19 12:28] mmalina commented on #511
@praveenkumar , docker -v is the version of docker client. I think docker daemon API version is critical here.
For example I have cli docker client version 1.10.3 on my machine. And when I run docker-machine, I get this:
Error response from daemon: client is newer than server (client API version: 1.22, server API version: 1.21)
But Eclipse connects to this daemon without a problem - so API version

[2016-08-19 12:35] mmalina commented on #511
So I installed the latest Docker Toolbox - docker daemon API version is even newer 1.24. And it works fine in Eclipse. Not sure what to make of it...

$ docker version
Client:
 Version:      1.10.3
 API version:  1.22
 Go version:   go1.6
 Git commit:   d12ea79c9de6d144ce6bc7ccfe41c507cca6fd35
 Built:
 OS/Arch:      darwin/amd64

Server:
 Version:      1.12.0
 API version:  1.24
 Go version:   go1

[2016-08-19 12:44] mmalina commented on #511
Looking at the API reference doc, even in version 1.22 the header should indeed still be application/json:
https://github.com/docker/docker/blob/master/docs/reference/api/docker_remote_api_v1.22.md#21-containers

So now we need to track down where this is broken - do we have our own fork of docker where this could be tracked down?

[2016-08-19 12:59] rhatdan commented on #511
@runcom PTAL
What call is returning plain text and not json?

[2016-08-19 13:05] mmalina commented on #511
@rhatdan I am not sure, this is from the JIRA:

@xcoulon can you find the exact request?

[2016-08-19 15:01] runcom commented on #511
I'll take a look at this shortly, should be something with some of our patches probably (or some backport to be done since I remember a similar issue upstream)

[2016-08-19 15:20] xcoulon commented on #511
@rhatdan @mmalina this is in the response to the request to obtain the list of containers, i.e. :
`GET ${DOCKER_HOST}/containers/json?all=1`

[2016-08-19 15:46] xcoulon commented on #511
As a matter of example, here's the raw response I got when requesting on the endpoint mentioned above:

As you can see, the `Content-Type` header is `text/plain` which is not handled by the Docker client that we use.
This looks very much like an old issue that we had in the past: [https://github.com/docker/docker/issues/4121]()

UPDATE: the `.pfx` file used in the command above was generated using

[2016-08-22 05:41] praveenkumar commented on #511
@runcom Anything you found which causing this?

[2016-08-22 10:31] praveenkumar commented on #511
@runcom @rhatdan I also created a bugzilla bug to track downstream: https://bugzilla.redhat.com/show_bug.cgi?id=1368999

[2016-08-22 11:12] praveenkumar commented on #511
Just in case if that help, I tried same with ADB (which is based on CentOS) and have `Docker version 1.10.3, build d381c64-unsupported` have given expected output to curl query but for CDK it throw `text/plain` as Content type.

[code]

[2016-08-22 11:17] mmalina commented on #511
Hmm, this is already the second issue that happens in CDK but not ADB, that is strange.
https://github.com/projectatomic/adb-atomic-developer-bundle/issues/513

[2016-08-22 11:58] runcom commented on #511
I'm looking at this just this afternoon (back from vacation today)

[2016-08-22 13:14] naina-verma opened #517 ""rsync: connection unexpectedly closed " while doing vagrant up"
Environment : windows 10
This problem occurs for every vagrantfile inside centos/rhel folders
Gist link : https://gist.github.com/naina-verma/c8cc90deb61010096f36fe07ef4a7d0f

[2016-08-22 13:57] runcom commented on #511
@praveenkumar so this is happening only with the following routes:

[code]

[2016-08-22 14:09] praveenkumar commented on #511
@runcom But these are the route that eclipse tooling use along with other endpoints, have we figure out why it's happening with these route only?

[2016-08-22 14:14] runcom commented on #511
Haven't yet, I'm trying to to find out the difference in both commits used to build adb and cdk to understand more (but apparently, those commit hashes do not map to any commit in the git repo)

[2016-08-22 14:15] runcom commented on #511
@praveenkumar could you paste the output of docker version from cdk and adb?

[2016-08-22 14:17] praveenkumar commented on #511
ADB: `Docker version 1.10.3, build d381c64-unsupported` based on CentOS-7
CDK: `Docker version 1.10.3, build 2a93377-unsupported` based on RHEL

[2016-08-22 14:20] runcom commented on #511
@praveenkumar on ADB could you paste the output of:

[code]

[2016-08-22 14:28] praveenkumar commented on #511
[code]

[2016-08-22 14:32] runcom commented on #511
@praveenkumar so seems like you don't have any `--authorization-plugin` flag on ADB and it's working fine. Could you try to look at CDK, see if that flag is there, remove it, and re-test?

[2016-08-22 15:02] praveenkumar commented on #511
@runcom so I can see that for CDK below but why this is changing the behavior and what it do?

[code]

[2016-08-22 15:05] brgnepal commented on #511
@praveenkumar @runcom Also I found that CDK 2.1 does not have that `--authorization-plugin` which make it clear what is the root cause here.

[code]

[2016-08-22 15:08] runcom commented on #511
Alright, it's definitely an issue with the docker plugin subsystem and probably something to be reported upstream as well. I'm going to investigate this more now and see if I can come up with a fix or workaround shortly.

[2016-08-22 15:15] runcom commented on #511
I can reproduce pretty easily on my laptop as well though (trying latest docker 1.12.1 to see if it's fixed there)

[2016-08-22 15:36] runcom commented on #511
Reported upstream https://github.com/docker/docker/issues/25927

[2016-08-22 15:52] amitkrout opened #518 "Network manager remove old stuff when you switch net or connect to vpn (landrush)"
Openshift web console does not reconnect when vpn is reconnect or when you switch net.
[code]
After adding ```nameserver 127.0.0.1``` to the file ```/etc/resolv.conf``` resolves the problem.

[2016-08-23 06:13] praveenkumar commented on #518
This is something we should add as troubleshooting doc when landrush is used. Bug is only signify for Linux (Redhat/CentOS/Fedora) because `/etc/resolve.conf` is under NetworkManager command so whenever vpn connected or network switch happen then this file is overwritten and loose the landrush change which is simple one line it add at top of that file.

[code]

[2016-08-23 07:07] brgnepal commented on #494
@Preeticp @thatdocslady As discussed with @praveenkumar , we should document it like a warning for users Linux users who might have **libvirtd** running in background but want to use **VirtualBox** for CDK.

I am hit by this issue and hence proposing it.

In such case, we need to only following steps:

[code]

[2016-08-23 07:31] #517 closed

[2016-08-23 09:20] naina-verma opened #521 "Vagrant up fails on Mac"
Vagrant up fails on Mac
Environment : Mac with virtualbox provider
Steps to reproduce
After taking long time for vagrant up it fails with the error message
Detailed logs - https://gist.github.com/naina-verma/f65b64655b2903530f373f7124da4618
[code]

[2016-08-23 09:26] brgnepal commented on #521
@naina-verma Could you add further details like versions of Vagrant, Virtualbox etc?

[2016-08-23 09:31] naina-verma commented on #521
Installed Version: 1.8.5
can find virtualbox version this machine is remote

[2016-08-23 09:36] optak commented on #521
VirtualBox is in version 5.1.4r110228
If there is anything that GUI access is needed, I can do it.

[2016-08-23 09:36] brgnepal commented on #521
Vagrant 1.8.5 seems to be broken with authentication issue which you have experienced.

Upstream issue - https://github.com/mitchellh/vagrant/issues/7610.
Please verify and take the action accordingly.

[2016-08-23 10:19] LalatenduMohanty commented on #521
Closing the issue as the issue is getting tracked at https://github.com/mitchellh/vagrant/issues/7610

[2016-08-23 10:19] #521 closed

[2016-08-23 10:55] navidshaikh opened #522 "Configure kubernetes using vagrant-service-manager for centos-k8s-singlenode-setup Vagrantfile"
Presently for [Vagrantfile](https://github.com/projectatomic/adb-atomic-developer-bundle/blob/master/components/centos/centos-k8s-singlenode-setup/Vagrantfile), we are using inline shell to configure kubernetes service. Since vagrant-service-manager is mandatory for ADB, we should use the `config` option to configure kubernetes.

[2016-08-23 11:00] navidshaikh commented on #522
Filed by mistake.

[2016-08-23 11:00] #522 closed

[2016-08-23 12:38] bexelbie opened #523 "Document how to override landrush upstream DNS"
See: https://github.com/vagrant-landrush/landrush#guest-is-unable-to-access-the-internet

This will affect users whose networks block access to the Google DNS servers.

@Preeticp  @thatdocslady

[2016-08-23 12:45] bexelbie commented on #513
Test Gem: http://file.brq.redhat.com/~bexelbie/landrush-1.1.2.gem

[2016-08-24 05:55] surajssd commented on #494
@budhrg yes tried above steps on my fedora host (not in the ADB VM!) and it all works :)

[2016-08-24 06:33] brgnepal commented on #513
@bexelbie @praveenkumar I have tested the given `1.1.2.gem` above using the `VagrantLauncher.java` program

Found that output and error thread are dead and command finishes.

[code]

My vagrant plugin list:

[code]

[2016-08-24 16:09] bexelbie commented on #513
landrush 1.1.2 has been released to rubygems and can be installed via `vagrant plugin update landrush`.

This gem should resolve this bug.

[2016-08-25 13:27] bexelbie commented on #494
should we recommend modifications to the stock /etc/dnsmasq.conf instead of this process?  The mods would allow for both to co-exist and not require this ordering to be maintained.

[2016-08-25 17:15] #509 closed

[2016-08-26 04:08] praveenkumar commented on #447
@LalatenduMohanty as per vagrant-libvirt readme looks like managedsave is only called when it explicitly defined in the Vagrantfile as config option.

https://github.com/vagrant-libvirt/vagrant-libvirt/blob/master/lib/vagrant-libvirt/action/suspend_domain.rb#L21

[code]

Since PR only have that option set for libvirt and not affecting any provider so I am in favor of it until we have any other val

[2016-08-26 06:22] LalatenduMohanty commented on #500
Ideally this issue should be reported in Upstream Vagrant Or we can create a trouble shooting document to address these kind of issues.

[2016-08-26 06:37] LalatenduMohanty commented on #447
@praveenkumar @rimolive sounds good to me. Will merge the PR.

[2016-08-26 06:38] LalatenduMohanty commented on #447
Closing the issue as the PR is merged.

[2016-08-26 06:38] #447 closed

[2016-08-26 06:40] #444 closed

[2016-08-26 09:17] naina-verma commented on #500
@thatdocslady , #514  looks good to me !

[2016-08-26 09:26] thatdocslady commented on #500
@LalatenduMohanty I understand and agree, but at this point we're on the verge of a full restructuring of the doc set so creating a troubleshooting/known issues document will happen then. In the meantime, this is the best section that we have to hold this information.

[2016-08-26 09:29] LalatenduMohanty commented on #500
@thatdocslady In that case if we have an issue to track what we agreed here , it should be fine to put the documentation as per the PR.

[2016-08-26 10:18] thatdocslady opened #524 "Docs convergence suggestion box"
This issue is a bucket to capture suggestions, ideas, and proposals that come up "as we work" in this repo, regarding content structure and things that should be addressed during the migration.

Please include link issue # or PR # for easier tracking.

[2016-08-26 10:19] thatdocslady commented on #524
Related to issue #500 and addressed in a conversation with @LalatenduMohanty - we should create a troubleshooting/FAQ for installation and upgrades and move the note from the general updating section.

[2016-08-26 10:21] thatdocslady commented on #500
@LalatenduMohanty created #524 to address this and future "we shouldn't forget to do this" tasks :)

[2016-08-26 19:23] LalatenduMohanty opened #525 "Documenting steps to clean up Landrush hosts entries"
Sometimes because of old entries in Landrush `hosts.json` file  OpenShift console i.e.  https://openshift.cdk:8443/console or  https://openshift.adb:8443/console is not accessible.
Fix:
* Do a `vagrant destroy`
*  Delete extra entries from
  * (for Windows) C:/Users/\<USER\>/.vagrant.d/data/landrush/hosts.json
  * (for Linux and OS X) ~/.vagrant.d/data/landrush/hosts.json
i.e. the `hosts.json` fil

[2016-08-26 19:26] LalatenduMohanty commented on #525
For a healthy Landrush setup you should be able to see similar output post the `vagrant up`

[code]

[2016-08-29 09:10] praveenkumar commented on #525
@LalatenduMohanty landrush provide option to remove domain using cli so we don't have to manually delete the entry.

[code]

[2016-08-29 18:30] dustymabe commented on #494
just taking a step back, I'd like to ask what use cases we are trying to solve with landrush? I think these are two of them:

1 - resloving guest virtual machine ip addr from the host
2 - resolving guestA ip addr from guestB

If we just care about number 1 then we can achieve the same effect by just modifying the configuration of dnsmasq:

[code]

This tells it to only listen on `127.0.0.100:53` a

[2016-08-29 18:43] dustymabe commented on #494
actually it looks like we have `config.landrush.guest_redirect_dns = false` so for the ADB/CDK it looks like we don't really care about use case number 2.

[2016-08-29 19:57] dustymabe commented on #511
This is now fixed upstream

[2016-08-29 21:02] jeffmaury commented on #525
Make sure landrush files were cleaned,but this got errors when performing vagrant up (using http://cdk-builds.usersys.redhat.com/builds/nightly/29-Aug-2016/):

[code]

[2016-08-29 21:55] runcom commented on #511
And also in projectatomic/docker branch docker-1.12

[2016-08-30 08:49] bexelbie commented on #494
@dustymabe I think you are right, but I believe we actually have to edit /etc/dnsmasq.conf as well.  I believe there is a 0.0.0.0 bind in that file that is what is blocking the program from starting.

[2016-08-30 10:36] naina-verma commented on #501
This looks same problem : https://github.com/vagrant-landrush/landrush#guest-is-unable-to-access-the-internet

[2016-08-30 10:38] bexelbie commented on #501
@naina-verma can you `vagrant ssh` into the VM and run `iptables -t nat -L` please? and `cat /etc/resolv.conf`

[2016-08-30 12:15] naina-verma commented on #501
@bexelbie ,i have tried reproducing the issue, but i am not able to reproduce. This issue happened only one time after that we have moved this to monitoring.

[2016-08-30 13:23] dustymabe commented on #494
I don't think I had an issue when I used the `/etc/dnsmasq.d/vagrant-landrush-cdk` from my earlier comment. on Fedora 24

[2016-08-31 12:34] LalatenduMohanty commented on #525
@optak I could not reproduce this on WIndows7. Can you retry and see if you can reproduce the issue?

[2016-08-31 12:36] LalatenduMohanty commented on #513
@bexelbie can we close this bug now that it is resolved now?

[2016-08-31 12:37] LalatenduMohanty commented on #511
This is fixed in CDK2.2 RC2 builds. Can we close the bug now? cc @mmalina ?

[2016-09-01 06:47] bexelbie commented on #513
@LalatenduMohanty If we have hte official happy-dance from QE, yes.  I consider it resolved.

[2016-09-01 08:26] bexelbie opened #526 "Update SSH Usage Section"
https://github.com/projectatomic/adb-atomic-developer-bundle/blob/master/docs/using.rst#using-the-box-via-ssh

Suggested changes:
1. Do not suggest that this is hte preferred usage method anymore
2. Move `sccli` usage into a section called Using Orchestrators like OpenShift and Kubernetes and then include examples of both `kubectl` and `oc`
3. Reduce atomicapp/nulecule section to basics and refer

[2016-09-01 12:22] #511 closed

[2016-09-01 14:19] thatdocslady commented on #489
@budhrg is this issue resolved? I see some PRs that are closed but it's a bit tricky to navigate the commit/comment trees. Please let us know if there is additional doc support that you need :)

[2016-09-01 14:25] brgnepal commented on #489
@thatdocslady Ya it is been resolved now. Thanks for pointing it out. :smile: . Will close this issue.

[2016-09-01 14:25] #489 closed

[2016-09-02 13:10] naina-verma opened #528 "Failed to start Etcd Server K8 singlenode setup"
Failed to start Etcd Server K8 singlenode setup
Unable to start kubernetes

[code]
Gist link : https://gist.github.com/naina-verma/0c073e68194bb0accba43bdcc45c5982

[2016-09-02 13:24] #528 closed

[2016-09-02 17:00] mmalina commented on #511
@LalatenduMohanty yes, I can confirm that with cdk 2.2 rc3, Eclipse can connect to the docker daemon again.

[2016-09-06 09:30] Preeticp commented on #524
Remove article before the product name, in all docs in the ADB umbrella project. The ADB>ADB. Exceptions: 'The ADB project', 'The ADB vagrant box' and 'The ADB Vagrantfiles'.

[2016-09-06 10:42] bexelbie commented on #249
@LalatenduMohanty I suggest we close this and deprecate the ssh use case.  Even if we keep the ssh use case, let's close until we are on an atomic host or similar base that doesn't allow installs.

[2016-09-06 10:44] bexelbie commented on #261
@LalatenduMohanty please confirm that we are now using openshift registry in place of atomic registry as we move forward.

[2016-09-06 10:46] bexelbie commented on #518
This is because landrush doesn't properly register itself with networkmanager on enterprise linux

[2016-09-06 10:47] LalatenduMohanty commented on #261
@bexelbie Yes, We have OpenShift docker registry in ADB. Here is an old blog I had written https://lalatendu.org/2016/06/09/using-the-docker-registry-in-openshift-using-adb/
I need to fix the blog as now we do not need to do `vagrant ssh` in to the box.

[2016-09-06 10:51] bexelbie commented on #494
@dustymabe I suspect you are right and my brain misfired.

[2016-09-06 10:53] bexelbie commented on #494
See and comment on https://github.com/vagrant-landrush/landrush/issues/258

[2016-09-06 10:54] bexelbie commented on #518
https://github.com/vagrant-landrush/landrush/issues/260

[2016-09-06 11:01] thatdocslady opened #531 "Convert docs to ASCIIDoc in preparation for publication"
Regardless of future docs convergence, we need to unify the format of all doc topics to ASCIIDoc in order to enable publication. Related to #178.

[2016-09-06 11:25] naina-verma opened #532 "There was an error when attempting to rsync a synced folder."
Gist link : https://gist.github.com/naina-verma/43331cdb646971d3393a44ebc2dd4fe4

[2016-09-06 11:31] naina-verma commented on #532
line missing in k8 (config.vm.synced_folder '.', '/vagrant', disabled: true)

[2016-09-06 11:38] #532 closed

[2016-09-06 12:19] #220 closed

[2016-09-06 12:28] naina-verma commented on #532
LGTM!

[2016-09-06 15:19] bexelbie commented on #500
@naina-verma @LalatenduMohanty

Did this get reported upstream?  It seems odd that this is required on such a significant platform.  Is this for all upgrades or just ones driven by atlas or cloud.centos/access.rh?

[2016-09-07 12:18] LalatenduMohanty commented on #513
Closing the issue as I am sure this got resolved. Please reopen if this is not fixed for you.

[2016-09-07 12:18] #513 closed

[2016-09-07 18:40] LalatenduMohanty opened #534 "CDK should also cache openshift3/ose-pod in the Vagrant box"
Currently we cache below docker images [1] , but in order to run OpenShift we need `openshift3/ose-pod` too.
[code]

[1] https://github.com/projectatomic/adb-atomic-developer-bundle/blob/master/build_tools/kickstarts/rhel-7-cdk-vagrant.ks#L204-L208

[2016-09-08 07:43] LalatenduMohanty opened #537 "Release ADB 2.3.1"
* https://github.com/projectatomic/adb-atomic-developer-bundle/pull/536

RC 1 Build : https://cbs.centos.org/koji/taskinfo?taskID=107699

Libvirt : http://cbs.centos.org/kojifiles/work/tasks/7700/107700/centos-7-adb-2.3-1.x86_64.rhevm.ova
Virtualbox: http://cbs.centos.org/kojifiles/work/tasks/7700/107700/centos-7-adb-2.3-1.x86_64.vsphere.ova

[2016-09-08 09:45] #534 closed

[2016-09-08 10:40] praveenkumar commented on #537
Tested out for OpenShift and works as expected.

[code]

[2016-09-08 10:45] LalatenduMohanty commented on #537
OpenShift + VSM install-cli worked me

[code]

[2016-09-08 10:52] praveenkumar commented on #537
Works for docker Vagrantfile and install-cli works as expected.

[code]

[2016-09-08 11:18] LalatenduMohanty opened #538 "ADB integration with landrush not working for Kubernetes"
[code]

[2016-09-08 11:21] LalatenduMohanty commented on #537
Tested K8s Vagrantfile and `atomic run projectatomic/helloapache` and it is working fine. However found #538.

[2016-09-08 11:58] LalatenduMohanty commented on #537
https://bugs.centos.org/view.php?id=11436

[2016-09-08 12:02] LalatenduMohanty commented on #537
Images are available in http://cloud.centos.org/centos/7/atomic/images/

[2016-09-08 14:29] LalatenduMohanty commented on #537
Tested Mesos Marthon Vagrantfile "vagrant up" and it worked fine.

[2016-09-08 14:29] LalatenduMohanty commented on #537
Released the boxes in atlas.hashicorp.com and sent the announcement mail.

[2016-09-08 14:29] #537 closed

[2016-09-12 12:55] agajdosi opened #540 "/.vagrant.d/Vagrantfile does not affect vagrant-registration"
It seems that credentials stored in "~/.vagrant.d/Vagrantfile" does not apply to vagrant-registration plugin.

Code I am using in ~/.vagrant.d/Vagrantfile is (code1):
[code]
Code which is used for RHEL-OSE in CDK 2.2 (code2):
[code]
Despite the fact there are not any environment variables SUB_USERNAME or SUB_PASSWORD setup in my system, per system credentials in /.vagrant.d/ are ignored. I also tr

[2016-09-13 16:02] hferentschik commented on #495
So how is this improving on anything, in fact PADB seems even worse to me. And is the aim not to break the association to (Project) Atomic?

[2016-09-13 19:30] bexelbie commented on #495
The aim is to stop the use of "ADB" because it details conversations and to also not break the association with Atomic.

[2016-09-14 21:14] #481 closed

[2016-09-14 21:21] LalatenduMohanty commented on #315
The issue is fixed for Kubernetes and OpenShift Vagrantfile

[2016-09-14 21:23] LalatenduMohanty commented on #176
Closing the issue as this is mostly fixed now.

[2016-09-14 21:23] #176 closed

[2016-09-14 21:24] LalatenduMohanty commented on #440
This is fixed as we have a single Vagrantfile for all providers. Closing this.

[2016-09-14 21:24] #440 closed

[2016-09-15 05:06] Preeticp commented on #524
Clean up references wrt Fedora 22 in all the docs, refer #508

[2016-09-15 10:04] naina-verma commented on #500
@bexelbie @thatdocslady ,

I have not reported it into Vagrant Upstream, I expect it should be  in known issues , if some user face this kind of issue for windows.

[2016-09-15 10:37] thatdocslady commented on #500
@naina-verma can you please clarify whether this step is required in all update scenarios or just for centos/rh images? thanks!

[2016-09-15 11:49] bexelbie commented on #500
@naina-verma can you help me understand what breaks here?  I am trying to understand why this is a failure for ADB and not for vagrant.  If it is a vagrant failure I think we have both an obligation to report it and to point to their upstream report.  An inability to upgrade on windows is a significant failure for vagrant.

[2016-09-15 13:34] naina-verma commented on #500
@bexelbie ,
This issue was observed in the CDK , when i migrated my system from 1.7.4 vagrant to 1.8._.,
 the C:/Users/{username}/.vagrant.d/ directory {rm -rf C:/Users/{username}/.vagrant.d/ }. these files create trouble to perform Vagrant commands (say vagrant version).
So,I was suggesting it to doc team to put up it in known issues . If user triggers the same things on there laptop after migrat

[2016-09-15 20:20] LalatenduMohanty commented on #468
@budhrg at this point we are not using any Trello board for ADB. We are just operating from this github project.So the future roadmap should be part of this repository.

[2016-09-15 20:20] #468 closed

[2016-09-15 20:26] #235 closed

[2016-09-15 20:27] LalatenduMohanty commented on #169
This is fixed by Vagrant service manager install-cli kuberenetes feature. Closing the issue.

[2016-09-15 20:27] #169 closed

[2016-09-20 11:58] hferentschik opened #544 "cdk.zip file should contain a version/date in the name"
Currently when the CDK is build the resulting zip file is just called _cdk.zip_. This makes it hard to distinguish between multiple versions. It would be nice if the zip bundle would contain a version identifier, eg _cdk-2.2.zip_ (public/final releases) or cdk-<date>.zip (for daily builds).

[2016-09-20 12:01] hferentschik opened #545 "Make box name configurable in Vagrantfile"
Currently we have `config.vm.box = 'cdkv2'` which hard codes the used box name to _cdkv2_ independently of the actual CDK version installed. We should make this configurable, defaulting to the current value.

This will allow more easily to switch between various versions of the CDK.

[2016-09-20 20:22] verdurin opened #546 "service-manager plugin installation error"
I'm trying to install ADB for the first time and I see this error:

[code]

[2016-09-20 20:50] verdurin commented on #546
Okay, I made an hilarious error with the name of the plugin - false alarm...

Sorry for the noise.

[2016-09-20 20:50] #546 closed

[2016-09-22 19:16] hferentschik commented on #495
So how is ADB really related to Atomic?

[2016-09-22 19:33] bexelbie commented on #495
@jberkus @jzb

[2016-09-22 19:46] jberkus commented on #495
Alternately, you could call it "CDK Origin" ;-)

[2016-09-23 07:13] hferentschik commented on #495
Actually, this is not the worst I have heard. Beats PADB by miles.

[2016-09-26 04:51] LalatenduMohanty commented on #495
+1 for `CDK origin` . I really like idea.

[2016-09-26 04:52] jberkus commented on #495
On 09/25/2016 09:51 PM, Lalatendu Mohanty wrote:

I really need to not make jokes about naming things.

##

##

Josh Berkus
Red Hat OSAS
(any opinions are my own)

[2016-09-26 12:09] thatdocslady commented on #261
@LalatenduMohanty it seems that the restructured usage doc[1] already contains the latest OSO/Docker registry info. Is there anything else that needs to be documented here or elsewhere? Thx :)

[1]https://github.com/projectatomic/adb-atomic-developer-bundle/blob/master/docs/using.rst

[2016-09-26 18:05] LalatenduMohanty commented on #261
@thatdocslady I think we can close this issue now. But the registry name has changed after landrush integration with ADB. We need to fix that and need to add how an user can use that. But I will create a new issue for that.

[2016-09-26 18:05] #261 closed

[2016-09-26 18:06] LalatenduMohanty commented on #544
@hferentschik +1. We will fix it.

[2016-09-26 19:11] LalatenduMohanty commented on #261
@thatdocslady looks like the landrush integration working fine for registry too. Now it is  `hub.openshift.adb`.

[code]

[2016-09-26 19:28] LalatenduMohanty commented on #372
@aweiteka @praveenkumar I think it is an documentation issue as user can use the openshift registry in ADB/CDK.

If you check the below command output you can see `export DOCKER_REGISTRY=hub.openshift.adb` which can used by user. But we need to add more documentation for this.

[code]

[2016-09-26 19:30] LalatenduMohanty opened #547 "Add documentaion for using OpenShift registry on ADB"
Refer: https://github.com/projectatomic/adb-atomic-developer-bundle/issues/372

Please check the below command output and you can see `export DOCKER_REGISTRY=hub.openshift.adb` which can used by user to push docker images. But we need to add more documentation about how it can be used.

[code]

[2016-09-26 19:30] LalatenduMohanty commented on #372
Moving this issue to https://github.com/projectatomic/adb-atomic-developer-bundle/issues/547.

[2016-09-26 19:30] #372 closed

[2016-09-28 10:08] praveenkumar opened #548 "Update ose tag with 3.3 release"
Currently we still have 3.2 release tag for OSE and v3.3.0.32 is now available at registry.access.redhat.com, so it need to be updated.

[2016-09-29 09:34] praveenkumar commented on #544
@hardy you mean for nightly builds we should have cdk-<date>.zip right?

[2016-09-29 09:37] brgnepal commented on #500
Closed via https://github.com/projectatomic/adb-atomic-developer-bundle/pull/514

[2016-09-29 09:37] #500 closed

[2016-09-29 09:38] mmalina commented on #544
Why not have something unique even for nightly builds? For example it could include the build id, e.g. cdk-2.3-45.zip. That way you could have a clear way of telling one cdk zip from another.

[2016-09-29 09:48] praveenkumar opened #550 "cdk.zip should include a .cdk file in same folder as Vagrantfile"
Content of this file should be the following type:

openshift.auth.scheme=Basic
openshift.auth.username=openshift-dev
openshift.auth.password=devel

It would also be nice if we were able to include a version here, but as I understand it, the version of the CDK is based on the box that's installed, yes? Not the cdk.zip file or the Vagrantfile?

However, if you were able to add a versioning key here

[2016-09-29 19:41] hferentschik commented on #544
he he, I think you did the same mistake than me. What I wanted to write is cdk-<date>.zip, but one has to obviously escape the pointy brackets. Date is the first thing which came to my mind, but a unique id works as well I guess.

[2016-09-29 19:46] hferentschik commented on #550
That's right. I actually think it is misguided. There is no deterministic way to get the CDK version prior to starting up. IMO, the right way is to use "unkown" (or something similar) until the VM is stated and then use for example 'vagrant service-manager box' to determine and set the version of the CDK.

[2016-09-30 06:56] mmalina commented on #544
Date works for me too.

[2016-09-30 12:33] #548 closed

[2016-09-30 17:49] thatdocslady commented on #524
Restructure installation and usage docs to get rid of mega-deep-nested bullet lists, following work that was done on PR #552.

[2016-09-30 17:58] thatdocslady opened #553 "Cleanup tasks to prepare for docs publication"
Following the asciidoc conversion, there are some tasks that still need to be performed on the overall doc set in order to get it ready for publication:
- Update and formalize permalink IDs (for each h2, h3). Currently they're auto-generated in the asciidoc files, but because they will ultimately end up in the URL breadcrumbs it's probably a good idea to review them and make sure they're concise a

[2016-10-04 13:08] #550 closed

[2016-10-05 05:06] budhrg opened #554 "Updated Openshift Enterprise phrase to Openshift Container Platform"
Since, the Openshift have updated phrase "Openshift Enterprise" to "Openshift Container Platform" in their website, we should also update in our repo. I found only once instance where it is being used. i.e in
[Openshift Enterprise Vagrantfile](https://github.com/projectatomic/adb-atomic-developer-bundle/blob/master/components/rhel/rhel-ose/README.rst)

[2016-10-05 06:12] #554 closed

[2016-10-05 08:29] hferentschik commented on #553
Links across the various documents need to stay relative. The asciidoc(tor) converted will take care that in the HTML version the links points to the correct HTML file. Referencing across internal pages in an absolute manner would be hard to maintain and also prevent us to move the docs to any destination we want.

[2016-10-05 08:38] hferentschik commented on #553
That said, the docs contain links of the form `https://github.com/projectatomic/adb-atomic-developer-bundle/blob/master/docs/installing.adoc[ADB installation]`. This is something which needs to be addresses. Links between documents (at least withing the docs directory) need to be relative.

[2016-10-05 08:44] thatdocslady opened #556 "Enable live-rendering of TOC in GitHub for adoc files"
Following the merge of PR #552, adoc files do not show live-rendered TOC in GitHub. VSM repo does have this, but initial attempts to replicate the tagging structure didn't work, and now there's a need for deeper investigation to find out why and how to fix this in ADB repo.

[2016-10-05 08:53] bexelbie commented on #556
Can you provide more context on this @thatdocslady ?  Why do we need live TOC rendering in AsciiDoc in the Repo?

[2016-10-05 08:55] bexelbie commented on #556
also see https://github.com/johnnyutahh/search-based-email/edit/master/README.adoc

[2016-10-05 09:00] hferentschik commented on #556
I don't consider it essential in the /docs directory. Not if we are able to build and publish a static version of it. The READMEs are a different story. They are essential part of the experience of the GitHub repo as well. Having no TOC for the README makes it really hard to navigate this content.

Maybe we need to differentiate between the set of documents which make up the published docs and oth

[2016-10-05 09:03] bexelbie commented on #556
@hferentschik I think we are in agreement that we should have live rendering in the READMEs but not hte docs sub-dir.

[2016-10-05 09:09] hferentschik commented on #556
Right. Live rendering in the docs would be nice, but most likely there will be other things which will prevent a user to get a consistent experience. For example, I would assume we will add some variables (for example the tag/version we are building). This variable will probably then be used in various links etc. This would be broken in the GitHub version.

One thought so, if it proves to be easy

[2016-10-05 09:20] bexelbie commented on #556
I can see allowing live TOC in the docs in docs/ as a **temporary** stop-gap if it is relatively simple.  I will be focusing on this publication to get us publishing ASAP.  I just got caught a conference this week talking about our awesomeness :)

[2016-10-05 09:31] hferentschik commented on #556
+1 :-)

[2016-10-05 11:04] #531 closed

[2016-10-05 11:28] thatdocslady opened #557 "Convert plugin docs to ASCIIDoc"
It is agreed to convert docs from other repos to ADOC in addition to the docs from the main ADB repo.

The repos are:
- vagrant-service-manager (mostly in adoc already but there are a couple of files still in md)
- vagrant-registration
- vagrant-sshfs
- adb-utils

Motivation:
- Unified format makes it easier to share content. For example, even CDK-only docs can be helpful because RH downstream use

[2016-10-05 11:32] thatdocslady commented on #553
Following the discussion and some comments (example https://github.com/projectatomic/adb-atomic-developer-bundle/pull/552#discussion_r81923940), links between books should stay relative and we need to look into a way to parse them automatically during site building so that they point to the HTML accordingly.

Note that this will probably only work if all the docs are in the same repo, so a link fr

[2016-10-05 11:56] thatdocslady commented on #556
@hferentschik @bexelbie @Preeticp it seems that the hack wasn't as ugly as it seemed, and I was able to create the TOC rendering in the major doc files. I suspect that it was failing mainly due to the massive amount of work I was doing on the PR last week and now that the "hairball" is smaller it was easier to untangle.

Anyway, PR #558 is ready for review :)

[2016-10-05 12:08] thatdocslady commented on #557
@Preeticp @hferentschik @bexelbie @budhrg this is one of the follow-up issues from the asciidoc conversion PR.

[2016-10-06 07:35] hferentschik commented on #553
We should use as few as possible of these type of links.

Another thing which needs to be addressed is the use of links for Vagrantfiles and other source material of the repo. At least the READMEs contain a lot of them. In the docs, the content must either be in-lined or a copy of the configuration file needs to be added to the docs directory and dynamically included/referenced. Personally, I pref

[2016-10-06 09:10] #556 closed

[2016-10-06 09:11] brgnepal commented on #557
+1 for migration

[2016-10-06 09:18] thatdocslady commented on #557
adding @LalatenduMohanty , let's get a majority on this at least before I proceed :)

[2016-10-06 09:24] Preeticp commented on #557
+1 for migration considering these are all under the ADB umbrella project.

[2016-10-07 08:49] Preeticp opened #560 "Docs Cleanup post asciidoc conversion"
This Issue lists cleanup tasks in the Installing and Using docs, resulting from conversion of docs to Asciidoc:

1. installing.adoc: This doc had numbered second level headings as they are actually Steps to be run in an order.  The last heading: Setup ADB behind proxy however has no numbering,  I am wondering if this should be added before the Vagrant up step or maybe a note. WDYT?

1. using.adoc:

[2016-10-07 09:26] LalatenduMohanty commented on #557
+1

[2016-10-07 09:28] thatdocslady commented on #560
@Preeticp thanks for the review! Fixed most, here are some open questions:
1. I can bring back the numbered steps, but having the proxy heading stand-alone without a number makes it indeed seem out of place. At which point in the process is it needed? I assume it's an optional step, but maybe we can number it and just write "optional" as a prefix. Even optional steps should have the correct locati

[2016-10-07 09:29] thatdocslady commented on #557
Thanks everyone, will work on this now and link PRs to this issue (the PRs will be submitted in the other repos).

[2016-10-07 09:48] Preeticp commented on #560
While it is optional, most of our target audience is likely to encounter this as they will be working behind a proxy. I feel this would be better off as a note, as an user will encounter this problem after he does vagrant up the first time, @praveenkumar can you please confirm. Making it as a note would highlight the section as well as resolve the numbering problem. I would place the note where it

[2016-10-07 11:56] thatdocslady commented on #560
@Preeticp I'm not sure placing the proxy steps as a note would be a good idea because then they won't show up in the TOC and if they are important they deserve a heading. If this is indeed a common use-case, then I recommend giving it a number in the appropriate stage of the task and rephrasing the beginning paragraph as "If you are...<etc>".

[2016-10-11 13:22] thatdocslady commented on #557
@LalatenduMohanty @budhrg all the plugin docs are now converted (see referenced PRs). What is the process for closing this issue? Does it need ack if it's not automatically closed from a PR?

[2016-10-12 05:02] budhrg opened #561 "Update 'README_CDK_ZIP.adoc' content to reflect all docs in .adoc formats"
Hi,

[README_CDK_ZIP.adoc](https://github.com/projectatomic/adb-atomic-developer-bundle/blob/master/components/rhel/README_CDK_ZIP.adoc) content contains repo docs main in `.md` format.
Update it to reflect the changes of `.adoc` format.

[2016-10-12 05:04] brgnepal commented on #557
@thatdocslady I think every related repo READMEs are converted now. Its time to update the [README_CDK_ZIP.adoc](https://github.com/projectatomic/adb-atomic-developer-bundle/issues/561)

[2016-10-12 08:10] bexelbie commented on #561
I believe this readme is delivered as plain unrendered text to users. Should this be converted?

[2016-10-12 08:42] brgnepal commented on #561
@thatdocslady What's your thought mikey?

[2016-10-12 09:39] thatdocslady commented on #557
@budhrg right, I will add this task to issue #560 since it counts as a post-migration fix, and I'll roll it into the existing PR for that issue. There are other places where links should be fixed to point to those new files.

[2016-10-12 09:40] thatdocslady commented on #561
@budhrg @bexelbie this file was already converted, and regardless the links should point to the correct files, especially since they're all readmes and will be accessed via GitHub. I'll add the link fixes to the existing issue for post-conversion fixes #560, I don't think we need a separate issue for this.

[2016-10-12 09:42] brgnepal commented on #561
@thatdocslady Cool then we can do that as part of cleanup part. Closing it now.

[2016-10-12 09:42] #561 closed

[2016-10-12 09:42] thatdocslady commented on #560
Following fixes to issue #557, need to find and fix all links to plugin docs to point to new adoc files.

[2016-10-12 10:20] LalatenduMohanty commented on #557
@thatdocslady can we close this issue now?

[2016-10-12 11:42] thatdocslady commented on #557
@LalatenduMohanty yes I was just asking what is the best practice for closing this issue, for example does it need acks etc :)

[2016-10-12 11:44] brgnepal commented on #557
@thatdocslady No for closing the issue we don't need ACKs :) .

Closing the issue as the dependent issues have been resolved and closed.

[2016-10-12 11:44] #557 closed

[2016-10-13 11:01] praveenkumar commented on #560
proxy variable only need to set when user are behind proxy so may be best to have in TOC and marked as optional so only concerned user follow it.

[2016-10-13 11:03] thatdocslady commented on #560
@praveenkumar ok so I can mark it as an optional step, but I'm still thinking it's better to number it and place it in the correct place in the workflow.

[2016-10-13 11:30] Preeticp commented on #560
@thatdocslady discussed this with @praveenkumar, seems the current location is fine, the proxy section should go in as the last step and it has to be marked as optional.

[2016-10-14 06:44] Preeticp commented on #560
@thatdocslady all other docs seem to be clean and unaffected by the .adoc conversion.
Just a suggestion: For the Readme heading, Advantage of ADB, can we think of replacing it with The ADB edge/ADB Features?

[2016-10-14 08:46] thatdocslady commented on #560
@Preeticp not sure what would be the benefit of replacing that heading, I chose it based on the other headings in the document (we already have "why use ADB" and "what's included/full features". The top section is basically highlights, and I don't know about using the word "edge" because it's a bit slangy.

[2016-10-14 10:00] adietish opened #564 "README.rst should specifiy that Vagrantfile expects the box file to be called cdkv2"
In the README.rst, which is included in the cdk.zip, you're told to download the box image next to the Vagrantfile (into the same folder) and then to launch it via vagrant up.
The README.rst is missing to specifiy though, that the image should be called cdkv2. One finds out with the error that's displayed in the terminal.
Symlinking my cdkv2 -> rhel-7-cdk-vagrant-scratch-7.2.07102016-1.x86_64.vagr

[2016-10-14 11:04] Preeticp commented on #560
Agreed @thatdocslady, we can look into overhauling the headings in the next version/during convergence as discussed.

[2016-10-17 10:28] #523 closed

[2016-10-17 10:46] #560 closed

[2016-10-17 10:48] #564 closed

[2016-10-17 10:56] LalatenduMohanty commented on #396
Kubernetes community focusing on http://kubernetes.io/docs/user-guide/ui/ and OpenShift is enterprise Kubernetes. So I think we do not need cockpit for OpenShift or Kuebernetes.

[2016-10-18 14:16] LalatenduMohanty opened #566 "Proxy documentation needs to updated with VSM options."
With VSM providing way to set proxy information [2] , ADB documentation [1] needs to be updated with it.
[1] https://github.com/projectatomic/adb-atomic-developer-bundle/blob/master/docs/installing.adoc#set-up-adb-behind-an-http-proxy
[2] https://github.com/projectatomic/vagrant-service-manager#http-proxy-settings

[2016-10-20 05:30] LalatenduMohanty commented on #459
I think it is a documentation issue. We should add this in our documentation.

[2016-10-20 05:30] LalatenduMohanty opened #567 "Way to switch from docker to docker-latest in ADB"
As there would be users for both the versions of docker shipped by ADB and CDK , I think it would be add value if we let user switch to docker-latest.

[2016-10-20 06:38] LalatenduMohanty commented on #480
Duplicate of https://github.com/projectatomic/adb-atomic-developer-bundle/issues/567

[2016-10-20 06:38] #480 closed

[2016-10-20 07:00] Preeticp commented on #525
Closed via #559

[2016-10-20 07:00] #525 closed

[2016-10-20 07:01] Preeticp commented on #494
Closed via #559

[2016-10-20 07:01] #494 closed

[2016-10-20 07:02] Preeticp commented on #518
Closed via #559

[2016-10-20 07:02] #518 closed

[2016-10-20 07:07] LalatenduMohanty commented on #494
This is documented in the troubleshooting guide at  https://github.com/projectatomic/adb-atomic-developer-bundle/blob/master/docs/troubleshooting.adoc

[2016-10-20 07:10] Preeticp commented on #525
This is documented the troubleshooting guide at https://github.com/projectatomic/adb-atomic-developer-bundle/blob/master/docs/troubleshooting.adoc

[2016-10-20 07:11] Preeticp commented on #518
This is documented the troubleshooting guide at https://github.com/projectatomic/adb-atomic-developer-bundle/blob/master/docs/troubleshooting.adoc

[2016-10-20 07:11] Preeticp commented on #523
This is documented the troubleshooting guide at https://github.com/projectatomic/adb-atomic-developer-bundle/blob/master/docs/troubleshooting.adoc

[2016-10-20 07:15] #409 closed

[2016-10-20 09:01] hferentschik commented on #459
Is it? Why is this expected?

[2016-10-20 09:08] ncoghlan commented on #393
I ran into some very similar error messages in Fedora 24, and they seemed to be due to cached gems in `~/.gems` and `~/.vagrant.d`.

[2016-10-21 12:19] LalatenduMohanty opened #568 "Add OCP tag, registry information to the RHEL-OSE Vagrantfile"
Next release of adb-utils [1] will support changing the tag of OCP and the next `vagrant up` will use the new docker images.  We need to add these options [2] to the RHEL-OSE Vagrantfile.

[1] https://github.com/projectatomic/adb-utils/issues/185
[2] https://paste.fedoraproject.org/456539/70490851

[2016-10-24 12:30] #540 closed

[2016-10-24 13:43] brgnepal commented on #439
@LalatenduMohanty This can be closed as the changes are merged now https://github.com/projectatomic/adb-atomic-developer-bundle/blob/master/components/rhel/rhel-ose/Vagrantfile#L80

[2016-10-24 13:44] LalatenduMohanty commented on #439
@budhrg thanks.

[2016-10-24 13:44] #439 closed

[2016-10-24 14:44] brgnepal commented on #310
I think `.cdk` has been added here https://github.com/projectatomic/adb-atomic-developer-bundle/blob/master/components/rhel/rhel-ose/.cdk.

Anything more required here @LalatenduMohanty @praveenkumar ?

[2016-10-24 15:04] budhrg opened #570 "Consistent format for setting Vagrantfile configurations"
Currently, we are using two formats in Vagrantfile for setting configurations
- Using `if` block as

[code]
- One liner approach as

[code]

First one gives more readability while second option allow to achieve minimal Vagrantfile goal.

Any thoughts which should be used?

**NOTE**:
`ENV['PROXY']` should be `ENV.key?('PROXY')` (Should be fix as part of this issue fix)

[2016-10-26 12:29] thatdocslady commented on #526
@bexelbie @praveenkumar @budhrg can one of you provide examples for kubctl and oc for point 2 in the issue?

[2016-10-27 11:46] LalatenduMohanty commented on #547
Refer : http://developers.redhat.com/blog/2016/06/27/red-hat-container-development-kit-2-1/

[2016-10-27 18:06] LalatenduMohanty opened #573 "Update default OpenShift Origin version to 1.3.1"
Currently the version is at 1.2.0

[2016-11-02 10:29] #526 closed

[2016-11-02 12:57] thatdocslady commented on #547
@LalatenduMohanty @praveenkumar I wrote a draft of this workflow based on the blog post, but before I submit the PR I wanted to verify/clarify the use-case: Is this something we recommend users do in order to test the app? If so, I'd like to create a new doc file called "testing.adoc" and have it separate from the "using.adoc".

Actually regardless, I would like to create this in a separate file b

[2016-11-03 09:44] praveenkumar commented on #547
This is how to use openshift exposed registry so might be called as `registry_usage.adoc`. @LalatenduMohanty wdyt?

[2016-11-03 09:48] LalatenduMohanty commented on #547
@praveenkumar @praveenkumar lets call it `registry.adoc`. Keeping it as a minimal name will help I think.

[2016-11-03 09:59] thatdocslady commented on #547
@LalatenduMohanty @praveenkumar I understand the functionality might demand this, but I'm still trying to figure out the "why" or the use-case. Why would the user want to use this workflow, when is it helpful for them, etc. This might affect the overall "label" of the topic (of course the file name is less important but it affects the title and introduction of the topic as well).

[2016-11-03 11:32] thatdocslady commented on #524
Adjust some tagging conventions to align with downstream (or some compromise in the middle as needed), downstream asciidoc style guide is on GitLab

[2016-11-04 09:43] praveenkumar commented on #547
User need this workflow if he/she wants to push local docker builds to openshift registry and then use it for application which they want to deploy. it is helpful to test local images without pushing it to some hub and testing with openshift.

Usually when we deploy an app on openshift, it first check if the image present in the registry then according to that take action. Let me know if you still

[2016-11-04 10:19] LalatenduMohanty commented on #547
Right. There are various ways we can deploy an application in OpenShift and using an image is one of the way. The image can be in the local OpenShift registry which can be populated by the user . Refer: https://docs.openshift.org/latest/dev_guide/new_app.html#specifying-an-image

[2016-11-08 05:38] praveenkumar commented on #570
@budhrg Let's go with readability, one liner approach looks bit more crypt. @LalatenduMohanty @hferentschik WDYT?

[2016-11-08 05:43] praveenkumar commented on #568
@LalatenduMohanty I will suggest only add Image tag not the registry and Image name because for CDK images are OSP and it going to come from `access.registry.redhat.com` and name will also `ose`.

[2016-11-08 05:44] LalatenduMohanty commented on #568
@praveenkumar agree.

[2016-11-08 05:46] praveenkumar opened #575 "Update OSP tag with latest release"
Current OSP latest tag refer to `v3.3.1.3` and this need update to our kickstart file.

[2016-11-08 06:14] LalatenduMohanty commented on #570
+1 For readability.

[2016-11-08 06:37] #575 closed

[2016-11-08 07:25] praveenkumar opened #577 "Update CDK version to next release"
Need to update CDK version info to compile with next release aka 2.3

[2016-11-08 09:18] #577 closed

[2016-11-09 04:06] LalatenduMohanty opened #581 "Release version 2.4.0"
- [x] adb-utils 2.1 should be available in http://mirror.centos.org/centos/7/atomic/x86_64/adb/

Release candidate build:
* RC 2 : https://cbs.centos.org/koji/taskinfo?taskID=148437 (rebuilt with CentOS 7.3 bits)
--------------------------------------------------------------------------------
* RC 1: https://cbs.centos.org/koji/taskinfo?taskID=147687

Planned release date: 26th December 2016

[2016-11-09 09:53] hferentschik commented on #570
+1 For readability

[2016-11-09 12:26] LalatenduMohanty opened #582 "Fix the IMAGE_TAG in rhel-ose Vagrantfile"
Currently the image_tag has an OCP version i.e. `IMAGE_TAG="v3.3.1.3" ` . However I think it should not contain any version as we have already have a cached version in the Vagrantbox. User should add a version only if a different version of OCP is required in CDK.

[2016-11-09 13:19] LalatenduMohanty commented on #141
@thatdocslady  closing this as we are focusing on OpenShift now.

[2016-11-09 13:19] #141 closed

[2016-11-09 13:45] LalatenduMohanty commented on #5
@All the ecosystem has changed from the time the issue has been raised. I think goal of this task would be `Document workflow for a developer for developing on OCP using CDK/ADB`

[2016-11-09 13:53] LalatenduMohanty commented on #185
Closing the issue as Nulecule is not the preferred work flow for ADB

[2016-11-09 13:53] #185 closed

[2016-11-09 14:02] thatdocslady commented on #5
@hferentschik this issue was updated today to reflect the current use-case, can you help provide more info about what is the workflow here so that we can create a doc for it? The goal is to share this content between ADB and CDK. We can either do a "recommended workflow" or an "example tutorial", depending on what can be used most effectively. WDYT? Thx

[2016-11-09 14:19] rkratky commented on #5
@hferentschik, adding a link to the respective downstream issue for more background: https://issues.jboss.org/browse/RHDEVDOCS-119

[2016-11-09 15:21] moog-stephen commented on #264
I had the same issue with bento/centos7.2 seems the NAT network adapter didn't have the 'cable connected' check box checked. Just for people searching.

[2016-11-10 09:39] #547 closed

[2016-11-10 09:41] thatdocslady commented on #249
@LalatenduMohanty please see @bexelbie comment and let us know how/whether to proceed. Thnx

[2016-11-10 09:55] LalatenduMohanty commented on #459
@hferentschik @budhrg My understanding was that it is related to invalid SSL certificate similarly for the web console. But I might be wrong.  We need to find out why we need the option.

[2016-11-10 10:11] praveenkumar commented on #249
@thatdocslady According to my understanding this issue came because of some of tools which developer thought would be helpful but we had counter part of increase of box size. Now since we want our VM's as black box for user so we should close it. @LalatenduMohanty WDYT?

[2016-11-10 10:23] thatdocslady commented on #257
@hferentschik considering the current status of the project, is this still relevant? please review and close if not, or provide more info for docs if it is. Thx

[2016-11-11 07:10] Preeticp commented on #524
We do not have cross links bet some of the docs within the repository, such as the troubleshooting/the staging/building/cockpit docs. We could explore having a list of related docs at the end of each doc to help users know these docs are available and this is where they can/might want to go next. Also the contributing doc needs to be linked to the readme in the Interested in Contributing to this p

[2016-11-11 14:04] hferentschik commented on #5
@rkratky ahh, thanks :-) I was lost a bit on what this is about. I think a lot is still in there air here on how production environments etc look like, but I think the CDK has very little bearing on how to get from local development to staging/production environment.

Effectively the CDK provides a way to develop the application locally, but then the developer would at some stage push (or better a

[2016-11-13 10:12] rkratky commented on #5
@hferentschik, FWIW, this use case ("from CDK to prod.") is viewed as the most important for CDK by GSS. What needs to be documented here is the part that's between "I'm happy with what I have running on CDK" and some staging/production environment. The user story might be something like:

"As a developer, I want to take my proof-of-concept project from CDK to a staging environment, so that it can

[2016-11-14 07:47] Preeticp opened #585 "Document deployment of a 'Hello World' Application using Wildfly and Maven"
Objective: Help Widlfly/EAP users.
Reference: Hello world example on Nodejs.section
Link to the respective downstream issue: https://issues.jboss.org/browse/RHDEVDOCS-69

[2016-11-15 09:55] #524 closed

[2016-11-16 13:28] mmalina opened #587 "cdk.zip does not contain .cdk marker (again)"
Radim Hopp found out today that the .cdk marker which was added in #551 is missing in cdk.zip from 09-Nov-2016.rc1 even though it's included here:
https://github.com/projectatomic/adb-atomic-developer-bundle/tree/master/components/rhel/rhel-ose

It is included in cdk nightly build though.

[2016-11-17 09:59] praveenkumar commented on #587
@mmalina I will check the internal script which create zip file. Thanks to notify us.

[2016-11-17 10:01] praveenkumar opened #588 "No section for hyperv in OSE Vagrantfile"
We don't have `hyperv` provider section in our Vagrantfile which not able to create VM with our desired RAM + CPU and our openshift setup fails.

[2016-11-17 10:31] #588 closed

[2016-11-17 10:39] #545 closed

[2016-11-18 11:10] brgnepal commented on #255
Closing as the related PR is merged https://github.com/projectatomic/adb-atomic-developer-bundle/pull/311

[2016-11-18 11:10] #255 closed

[2016-11-18 12:40] budhrg opened #590 "Use vagrant-service-manager way to provision services in Vagrantfile instead of shell provisioner"
Hi,

I think it's time to introduce  `vagrant-service-manager` [configuring services](https://github.com/projectatomic/vagrant-service-manager#configuring-services) way to provision services in Vagrantfiles.

Right now it is pretty stable and I recommend to provision services this way.

This will remove few lines and give vagrant clean way.

Config lines would be:
[code]

Few pros:
- Docs become e

[2016-11-21 09:48] praveenkumar opened #591 "Latest CDK doesn't start on Win10"
It seems like a network issue in the Vagrant VM. After the vagrant up failure I logged in to the system and can see the eth1 had not gotten the 10.1.2.2 IP address.

[code]

[2016-11-21 09:50] praveenkumar commented on #582
Fixed by #583

[2016-11-21 09:50] #582 closed

[2016-11-21 09:57] LalatenduMohanty commented on #591
CDK issue in Red Hat Jira: https://issues.jboss.org/browse/CDK-26

[2016-11-21 10:38] #570 closed

[2016-11-21 12:45] #566 closed

[2016-11-22 02:24] rafaeltuelho opened #595 "add ability to start a multi-node cluster"
Would be nice have the ability to start an ADB/CDk cluster (eg: one master and one/or more nodes).
Just create a new vm definition on Vagrantfile using a parameter indicating that vm instance is a node (not a master).

[2016-11-22 03:06] rafaeltuelho commented on #595
Looking inside the vagrant box vm I've found this script: `/opt/adb/openshift/openshift` which is used to bootstrap/setup the Openshift inside ADB/CDK.

I believe applying some changes to this script is sufficient to decide if it will be an all-in-one, a master or justa  node.

I could not identify where this script come from. I did not find it on this repo.

[2016-11-22 06:33] gbraad opened #596 "The output for `oc login` after `vagrant up` is not correct"
The output does not show the correct `oc login` statement.

Expected:
[code]

Actual:
[code]

[2016-11-22 06:36] #596 closed

[2016-11-22 06:38] #591 closed

[2016-11-22 06:39] praveenkumar commented on #595
@rafaeltuelho script come from https://github.com/projectatomic/adb-utils

[2016-11-22 06:39] LalatenduMohanty commented on #595
Precisely from https://github.com/projectatomic/adb-utils/blob/master/services/openshift/scripts/openshift

[2016-11-22 06:40] praveenkumar commented on #590
@budhrg let's do all different kind of testing and roll it out. I think now even VSM have proxy specific variable.

[2016-11-22 06:41] praveenkumar commented on #587
@mmalina It is fixed now I am going to close this issue.

[2016-11-22 06:41] #587 closed

[2016-11-22 06:43] praveenkumar commented on #568
@LalatenduMohanty I think we already agreed on it and implemented this feature, so closing it now.

[2016-11-22 06:43] #568 closed

[2016-11-22 06:44] praveenkumar commented on #538
@LalatenduMohanty does it now available and tested?

[2016-11-22 14:01] rafaeltuelho commented on #595
Thanks @LalatenduMohanty, @praveenkumar  !
Do you think this issue should be moved to adb-utils project repo?

[2016-11-23 09:31] mmalina commented on #587
Thanks @praveenkumar . I can confirm that the .cdk marker is included in cdk 2.3.0.rc2 zip

[2016-11-24 09:14] LalatenduMohanty commented on #590
@budhrg You should go ahead and send PRs for it and we can test it out.

[2016-11-24 09:41] #553 closed

[2016-11-29 09:28] Preeticp opened #600 "Add additional useful commands to the Usage docs"
Some additional commands which could be useful for users should be added to the Some useful commands section in the Usage guide
$ vagrant global-status
$ vagrant plugin list
$ vagrant box list
$ vagrant provision

[2016-11-30 11:00] #600 closed

[2016-12-08 13:17] brgnepal commented on #581
- Openshift with VirtualBox working fine
- Kubernetes with Virtualbox is also working fine
- Mesos having issue on vagrant up as
[code]

[2016-12-13 12:29] thatdocslady commented on #178
@LalatenduMohanty can we close this issue as wontfix now that we're tracking everything in minishift?

[2016-12-13 19:18] lobsterkatie commented on #264
Same issue with bento/ubuntu-16.04, solved the same way as @moog-stephen: VirtualBox -> Select virtual machine in question -> Settings -> Network -> Advanced and then make sure the "cable connected" box is checked.

(Why/how on earth would the (non-existent, imaginary) cable get disconnected?? But it does, and this fixes it.)

[2016-12-15 09:04] LalatenduMohanty commented on #595
@rafaeltuelho Yes, It should. You can move it if you are planning to send a PR.

[2016-12-15 09:05] LalatenduMohanty commented on #581
@budhrg CentOS has released 7.3 updates, so need to rebuild the box.

[2016-12-15 16:07] bobmshannon commented on #264
@moog-stephen @lobsterkatie ... plugging in the virtual cable seems to have fixed the issue for me as well.

[2016-12-20 18:35] LalatenduMohanty commented on #581
@budhrg Are you able to run applications in OpenShift. Because I am hitting https://bugzilla.redhat.com/show_bug.cgi?id=1312665 with SELinux enabled.

[2016-12-21 07:00] brgnepal commented on #581
I have tested RC1 again today and found that docker pull for `centos/php-56-centos7` is failing through Openshift.

However, separately, `docker pull centos/php-56-centos7` is working fine.

[code]

After bit investigating, found that `centos/php-56-centos7` image has been recently updated.
![php-56-centos7](https://cloud.githubusercontent.com/assets/1132451/21380173/34de1a04-c779-11e6-8212-400f17

[2017-01-21 16:40] jamesgrobertson commented on #264
+1 on the cable setting fixing my issue

[2017-01-23 11:49] budhrg opened #606 "Use PROXY* as variable instead of constant"
`PROXY*` entities are declared as constant in Vagrantfile but used as variable like [here](https://github.com/projectatomic/adb-atomic-developer-bundle/blob/master/components/rhel/rhel-ose/Vagrantfile#L69-L71).

This will have side effect when exporting these entities via terminal as constants in Ruby as global.

[code]

[2017-01-23 12:01] brgnepal commented on #606
Related to https://issues.jboss.org/browse/CDK-37.

[2017-01-24 05:44] praveenkumar opened #608 "Update OCP version and kickstart"
We need to update OCP version and kickstart file for this release.

[2017-01-24 05:48] #606 closed

[2017-01-24 06:12] #608 closed

[2017-02-09 09:53] dominicalston opened #611 "No symlink from /var/lib/docker/containers/ to /var/log/containers"
According to the fluentd documentation, it states the kubelet creates symlinks that
capture the pod name, namespace, container name & Docker container ID
to the docker logs for pods in the /var/log/containers directory on the host. We see no such containers directory in the host.

[2017-03-17 14:51] masoudgs commented on #264
Check your CPU's virtualization is enabled.

[2017-03-30 17:56] #581 closed

[2017-03-30 18:08] LalatenduMohanty commented on #611
@dominicalston sorry for the late reply. For last few months we have moved to Minishift for CDK 3 release . Recently we have released CDK 3 Beta [2]. Can you please try Minishift and  let us if you face the same issue.

[1] https://github.com/minishift/minishift
[2] https://developers.redhat.com/blog/2017/02/28/using-red-hat-container-development-kit-3-beta/

[2017-03-31 07:04] dominicalston commented on #611
Hi @LalatenduMohanty Thanks for the reply. I've tried minishift and the same issue appears in beta 5. I've raised a ticket.

[2017-04-03 12:37] LalatenduMohanty commented on #611
Got it https://github.com/minishift/minishift/issues/510 . Thanks

[2017-08-31 13:16] valoricDe commented on #336
To use this in my vagrant file on window 7 I have to install sftp-server like described on https://winscp.net/eng/docs/guide_windows_openssh_server right? Or do you know a simpler method to get OpenSSH?

[2017-08-31 13:24] brgnepal commented on #336
Yes, it is the preferred one.

However,  @valorize I would like to inform you that we are not actively maintaining this project anymore and move to [minishift](https://docs.openshift.org/latest/minishift/index.html) to provide similar solution in much better way.

[2017-12-17 03:00] vhosakot commented on #272
When I did `vagrant up` with the box `centos/7 (virtualbox, 1703.01)`, `==> default: Rsyncing folder: /root/ => /vagrant` was stuck for me too, and adding
`config.vm.synced_folder '.', '/vagrant', disabled: true`
in Vagrantfile resolved the issue for me and rsync did not happen.

[2018-05-02 00:06] kferrone opened #612 "403 error when logging in with OC on openshift adb"
For the life of me I can't figure out how to get `oc login` to work right after the initial install of the adb-openshift with vagrant.

Host OS: MacOS High Sierra 10.13.4
VM: VirtualBox 5.2.10 r122088 (Qt5.6.3)
Provisioner: Vagrant  2.0.4
CLI: oc v3.9.0+191fece
Vagrant Plugins: vagrant-service-manager, vagrant-sshfs, landrush, vagrant-registration, vbguest

Here are the steps I take:

- `mkdir -p